.navDiv {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 7vh;
}

.logoDiv {
align-self: center;
}

.logo {
  margin-left: 30px;
}

.searchbarDiv {
  align-self: center;

}

.searchbar {

}

.linksDiv {
  align-self: center;
}

.linksDiv ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 50px;
}


.link2 {
  margin-left: 40px;
}

.link3 {
  margin-left: 40px;
}

@media (max-width: 600px) {
  .navDiv {
    width: 600px;
    height: 150px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .logoDiv {
    margin: 1px;
  }
  .searchbarDiv {
    margin: 1px;
  }
}